*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
            
@page {
    margin: 0cm 0cm;
    font-family: Arial-Narrow;
}

body {
    margin: 3cm 2cm 2cm;
}

.header img{
    position: fixed;
    top: .5cm;
    left: 2cm;
    width: 18cm;
}

.ujat{
    position: fixed;
    top: 11cm;
    left: 6.2cm;
}

.footer{
    position: fixed;
    top: 26cm;
    left: 2.3cm;
}

.oficio{
    position: fixed;
    right: 2.6cm;
    top: 6cm;
    text-align: right;
}
.remitente{
    position: fixed;
    top: 7.5cm;
    left: 3.5cm;
    text-align: left;
}
.contenido{
    position: fixed;
    top: 10cm;
    left: 3.5cm;
    text-align: justify;
    width: 15.5cm;
}

footer {
    position: fixed;
    bottom: 1cm;
    left: 3cm;
    right: 0cm;
    height: 2cm;
    color: #000;
    text-align: left;
    line-height: 35px;
}